body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "Geom", sans-serif;
    /*animation: body-background 5s ease-in-out infinite alternate-reverse forwards;*/
}
@keyframes body-background {
    0%{
        background-color:rgba(0, 162, 255, 0.1);
    }
    50%{
        background-color:rgba(255, 255, 255);
    }
    100%{
        background-color:rgba(0, 166, 255, 0.19);
    }
}

#header{
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items:center;
    position:fixed;
    width:100%;
    height:100px;
    top:0;
    padding-left: 30px;
    box-shadow: 0 0 48px -12px rgb(0, 0, 0, 0.3);
}
#logo{
    width: 90px;
    height: 88px;
}
.logo-text{

    font-size:34px;
}
.header-text{
    font-size:34px;
}
#sub-body{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    width: 457px;
    height: 500px;
    background-color:white;
    border-radius: 2.5px 0;
    box-shadow: 0 0 80px 10px rgb(0 0 0 / 15%);
    /*box-shadow: -6px -30px 8px 0px rgba(255, 255, 255) inset, 5px 5px 15px -3px rgb(0 0 0 / 84%) inset;*/
}
#form-head{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:inherit;
    height:100px;
    background-color:white;
    box-shadow: 0 10px 80px 5px rgb(0 0 0 / 15%);
    text-align:center;
}
.form-head-text{
    font-size:34px;
}
.welcome-text{
    font-size: 25px;
    width: 100%;
    margin: 0;
    margin-right: -55px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.welcome-head-text{
    font-size: 34px;
    width: 100%;
    margin: 0;
    margin-right: -55px;
    margin-bottom: 24px;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 405px;
    height: 44px;
    margin-top:8px;
    border:none;
    background-color:white;
    padding-left: 10px;
    box-sizing:border-box;
    transition:.3s;
    border-left: 3px solid rgb(0, 187, 0);
}
input:hover {
     box-shadow: 0 0 90px rgba(0, 0, 0,0.2);
}
input:focus {
     outline:none;
}
button{
    width: 406px;
    height: 59px;
    margin-top: 20px;
    font-size: 21px;
    border: none;
    border-radius: 2px 2px;
}
.raised{
    color: white;
    background-color: rgba(0, 95, 154, 0.885);
    box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.305);
}
.inset{
   color: black;
   background-color: #ffffff;
   box-shadow: -5px -5px 8px 0px rgba(255, 255, 255) inset, 5px 5px 15px -3px rgb(0 0 0 / 84%) inset;
}

#follow-div{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0;
    top: 0;
    border-radius: 100% 100%;
    filter: blur(0px);
    box-shadow: 0 0 40px 30px white;
    background-color: #c9c9c9;
}