body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "Geom", sans-serif;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width:100%;
    height: 140px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.287);
}
#title{
   font-size:75px;
   margin-left:50px;
}
#main-container{
    width:100%;
    height:fit-content;
    margin-top: 2%;
    padding:5px;
}
.flex-column-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding:3px;
}
.flex-row-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
#score-card{
    width: 400px;
    height: 620px;
    padding: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.287);
}
#score-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    padding:10px;
    background-color:#ff9900;
    /*background-color:#00d100;*/
    /* background-color:rgb(215, 1, 1);*/
    border-radius:5px 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.287);
}
#score{
    margin:0;
    font-size:72px;
    color:white;
}

#summary-details-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 101px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2) inset, -10px -10px 30px rgba(255, 255, 255) inset;
    border-radius: 10px 10px;
}
#time-spent{
    color: white;
    background-color: #ff8c00;
    padding: 5px;
    border-radius: 3px 3px;
    font-size: 20px;
}

#divider{
  width:3px;
  height:620px;
  background-color: #2c2c2c42;
}

#preview{
    width:60%;
    height:620px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.287);
    overflow:scroll;
}
#preview::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}

.question{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height:153px;
    margin-top:2px;
}
.question-number-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width:15%;
    height:inherit;
}
.question-number{
    font-size:50px;
}
.question-details{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width:80%;
    height:inherit;
    border-left: 8.5px solid green;
    padding-left: 10px;
    overflow:scroll;
}
.question-details::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}
.for-question{
    margin:0;
}
.qn{
    font-size:15.5px;
    padding-left: 10px;
}
.an{
    font-size:13px;
    font-family: "Roboto Mono", monospace;
    padding-left: 10px;
    margin-top:2px;
}
.highlight-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width:fit-content;
    height:30px;
    padding: 5px;
    background-color: green;
    margin-top: 15.5px;
    margin-left: 9px;
    box-shadow: 0 0 30px 0 #9c9c9c;
    border-radius: 5px 5px;
}
.select-text{
    font-size:15.5px;
    padding-left: 10px;
    margin: 0;
}
.slt{
    font-size:13px;
    color:white;
    font-family: "Roboto Mono", monospace;
}
